footer {
  display: none;
}

:root {
  --darkestblue: #043846;
  --darkblue: #304860;
  --blue: #536f7d;
  --lightblue: #8196a7;
  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: var(--black);
  background-color: var(--white);
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 800;
}

header {
  background-color: var(--darkblue);
  color: var(--white);
  border-bottom: 15px solid var(--blue);
}

figure {
  margin: 0;
}

#wave img {
  width: 100%;
  height: 100px;
  border-bottom: 3px solid var(--white);
}

nav {
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  background: var(--darkestblue);
  line-height: 1.5;
  height: 1.7em;
}

#companyinfo {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding:0;
  margin:0;
  list-style: none;
  text-transform: uppercase;
}

main {
  display: flex;
}

nav li::before {
  content:'.';
  margin-left:2em;
}

nav a {
  color:#fff;
  text-decoration: none;
}

main aside img {
  width:300px;
  margin-right:20px;
}


@media screen and (max-width:700px) {
  main {
    flex-wrap:wrap;
  }

  main article {
    width:100%;
  }

  main aside img {
    width:100%;
  }

  main aside {
    width:100%;
    order:2;
  }
}