img {
    vertical-align: bottom;
}
html,body {
    height:100%;
}
body {
    font:14px Arial;
    background:#333;
    color:#333;
    margin:0;
}
a {
    color:#297a00;
}
header div {
    height:35px;
}

header div img {
    height:60px;
    width:auto;
    margin:10px;
    display:inline-block;
    background:#fff;
    padding:5px;
}

#wrapper {
    margin:0 auto;
    width:800px;
    background:#fff;
    min-height:100%;
    box-shadow:5px 10px 10px #000;
}

nav {
    background:#297a00;
    padding:3px 10px;
}

nav ul {
    padding:0;
    list-style:none;
    margin-left:100px;
}

nav li {
    display:inline-block;
    margin:0 10px 0 0;
}

nav a {
    color:#fff;
    font-weight:bold;
    font-size:18px;
    text-decoration:none;
    padding:5px 10px;
    border-radius:4px;
    transition: all 1s; /* animiere Eigenschaftsänderungen bei hover und beim rausfahren, welche & wie lange */

}

main {
    padding:25px;
}

main p {
    max-width:80%;
}

nav a.aktiv, nav a:hover {
    background:rgba(255,255,255,0.2);
}

nav a:hover {
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

#page_home #lnk_home,
#page_kurs #lnk_kurs,
#page_kontakt #lnk_kontakt {
    background:rgba(255,255,255,0.2);
}