img {
    vertical-align: bottom;
}
html,body {
    height:100%;
}
body {
    font:14px Arial;
    background:#333;
    color:#333;
    margin:0;
}
a {
    color:#297a00;
}
header div {
    height:35px;
}

header div img {
    height:60px;
    width:auto;
    margin:10px;
    display:inline-block;
    background:#fff;
    padding:5px;
}

#wrapper {
    margin:0 auto;
    width:800px;
    background:#fff;
    min-height:100vh; /*100%;*/
    box-shadow:5px 10px 10px #000;
}

nav {
    background:#297a00;
    padding:3px 10px;
}

nav ul {
    padding:0;
    list-style:none;
    margin-left:100px;
}

nav li {
    display:inline-block;
    margin:0 20px 0 0;
}

nav a {
    color:#fff;
    font-weight:bold;
    font-size:18px;
    text-decoration:none;
}

main {
    padding:25px;
}

main p {
    max-width:80%;
}