#course div {
    border-bottom:1px solid #000;
    height:50px;
    padding:5px;
    position:relative;
}

#course img, #course svg {
    width:50px;
    height:50px;
    position:relative;
}

#course span {
    position:absolute;
    top:5px;
    left:5px;
    font-size:30px;
}